{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block head %}
<script src="{{response.app.url_root}}static/js/d3.v3.min.js"></script>{% endblock head %}
{% block breadcrumbs %}{{ super() }}
&rsaquo; <a href="{{response.app.url_root}}">Misery Index</a>
&rsaquo; <a href="../../../">{{response.app.sport}}</a>
&rsaquo; <a href="../../">Seasons</a>
&rsaquo; <a href="../">{{response.year}}</a>{% endblock breadcrumbs %}
{% block content %}

<script>
        var data = [];
        var fn = {
            scores: '{{response.app.url_root}}static/output/scores.json',
        }
        var season_year = {{response.year}};
        var season_month = '{{response.month.long}}';
        var start_date = new Date(season_year, 3, 4);
        var end_date = new Date(season_year, 9, 1);
</script>
<svg class="chart-month rockies" id="chart"></svg>
<script src="{{response.app.url_root}}static/js/misery.js"></script>
<ol>
{% for item in response.month.events -%}
    <li><a href="{{item['URL']}}/">{{item['Bad Thing']}}</a> <span>{{item['Date']|date_raw|datetime}}</span></li>
{% endfor %}
</ol>
{% endblock content %}
