{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block head %}
<script src="{{response.app.url_root}}static/js/misery.js"></script>
<script src="{{response.app.url_root}}static/js/d3.v3.min.js"></script>{% endblock head %}
{% block breadcrumbs %}{{ super() }}
&rsaquo; <a href="../../">Seasons</a>
&rsaquo; <a href="../">{{response.year}}</a>{% endblock breadcrumbs %}
{% block content %}

<ol>
{% for item in response.month.events -%}
    <li><a href="{{item['URL']}}/">{{item['Bad Thing']}}</a> <span>{{item['Date']|date_raw|datetime}}</span></li>
{% endfor %}
</ol>
{% endblock content %}
